.bottomNav_container{
    position: absolute;
    bottom: 0pt;
}

.bottom_nav__cont{
    width: 281.25pt;
    height:50pt;
    background-color: white;
    filter: drop-shadow(0px -5px 30px rgba(80, 92, 98, 0.16));
    display: flex;
    justify-content: center;
    align-items: center;

}

.bottom_nav__button {
    border-radius: 50%;
    background-color: #92BC4A;
    width:50pt;
    height:50pt;
    box-shadow: 0px 5px 15px #92BC4A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
    position: relative;
    top: -13pt;

}

.buttom_nav__button_redu_icon {
    width: 20pt;
    height: 20pt;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

#bottom_nav__button_p {
    font-family: Poppins;
}
.buttom_nab__button_cont {
    align-content: center;
}

.buttom_nav__button_cont {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.buttom_nav__button_redu_icon {
    animation: rotation 7s infinite linear;
    
 }

 @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }