.resultselection_cont {
display: flex;
flex-direction: column;
color: white;
background-color: #92BC4A;
width: 100%;
height: 320px;
font-family: Assistant;
font-weight: 400;
justify-content: center;
margin-top: -20pt;
align-items: center;
z-index: 0;
}

.resultselection_cardcont {
    display: flex;
    align-items: center;
    


   
}

.spacer {
    width: 18pt;
    height:18pt;
}



