.ResultRestart_cont {
    width: 40pt;
    height: 40pt;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #92BC4A;
position: absolute;
    border-radius: 50pt;
    right: 10pt;
    top: 60pt;
}

.ResultRestart_icon {
    width: 15pt;
    height: 15pt;
}

.ResultRestart_P {
    font-family: Poppins;
    color: white;
    font-weight: bold;
    font-size: 10pt;
}


.ResultRestart_icon {
    animation: rotation 7s infinite linear;
    
 }

 @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }



