html body{
    margin-top: 0pt;
    margin-left: 0pt;
    margin-right: 0pt;
    margin-bottom: 0pt;
}

.plant_page_card_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 60pt;
    opacity: 0%;
    transition: opacity 0.6s;

}

.plant_page4_card_button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 50pt;
    opacity: 0%;
    transition: opacity 0.6s;
}

.plant_page_card_arrow {
    position: relative;
    top: 20px;
    left: 240px;
    width: 16px;
    height: 12px;
}


#testA {
    transition: background-Color 0.3s;
}


#testB {
    transition: background-Color 0.3s;
}

.spacer4 {
    width: 20px;
    height: 3pt;
}

.spacerB{
    width:15pt;
    height:8pt;


}
