.Tut_circleCont {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 110pt;
}

.tutorial__progress__circles {
    display: flex;
    justify-content: center;
    top: 20;
    position: relative;
}