body {
    margin: 0;
}

.tutorial__texts {
    text-align: center;
    position: relative;
    top: 280pt;
}

.tutorial__texts__header {
    font-family: Assistant;
    color: #7FA53E;
    font-weight: bold;
}

.tutorial__texts__description {
    font-family: Assistant;
    color: #556F44;
    font-weight: 300;
}

.tutorial_title{
    display: flex;
    justify-content: center;
    width: 100vw;
    position: absolute;
    top: 60pt;
    font-size: 20pt;
    font-weight: 1000;
    font-family: 'Assistant', sans-serif;
    color: #556F44;
}

.tutorial_pg1_subtitle {
    display: flex;
    justify-content: center;
    width: 100vw;
    font-size: 11pt;
    font-family: 'Poppins', sans-serif;
    color: #5E5E5E;
}

.tutorial_imgContainer {

    height: 170pt;
    width: 100vw;
    position: absolute;
    top: 120pt;
}

.tutorial_pg1_imgContainer{
    display: inline-flex;
    width: 100vw;
}

.tutorial_pg1_img1{
    position: relative;
    bottom: 15pt;
}

.tutorial_pg1_img2{
    position: absolute;
    bottom: 0pt;
    left: 105pt;
}

.tutorial_pg1_img3{
    position: relative;
    right: 52pt;
    bottom: 15pt;
}