body {
    margin: 0;
}

.resultScreen_img_container{
    display: flex;
    width: 100vw;
    justify-content: center;
    position: absolute;
    top: 120pt;
}

.resultScreen_img {
    width:230px;
    height:230px
}