.hamburger_menu_big_cont {
    position: relative;
    z-index: 0;
    right: -300pt;
    height: 300px;
    width:370px;
    transition: .3s right;

}

.hamburger_menu__cont {
    width: 262.5pt;
    height: 812pt;
    background-color: black;
    color: white;
    font-size: 15pt;
    position: relative;
    right:-400pt;
    transition: .3s right;
    display: none;
}

.hamburger_menu_individuals {
    display: flex;
    padding-bottom:20pt;
}

.hamburger_menu__menu_icon {
    position: absolute;
    top: 10pt;
    left: 100pt;
    width: 30px;
    height:27px;
    transition: .3s left;

}

.hamburger_menu__main {
    display: flex;
    flex-direction: column; 
    position: relative;
    left: 20pt;
    top: 40pt;
}

.hamburger_menu__glossary_sub {
    position: relative;
    left: 50pt;
    top: 40pt;
}

.hamburger_menu__texts {
   margin-left: 10pt;

}

.hamburger_menu__icon {
    width: 10%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}