.tutorial__topbar {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 15px;
}

.tutorial__logo {
    width: 105px;
    height: 45px;
    margin-left: 13pt;
    margin-top: -1pt;
}

.tutorial__skip {
    color:#7FA53E;
    font-family: Assistant;
    font-weight: bold;
    font-size: 18pt;
    top: 7pt;
    right: 10pt;
    position: absolute;
}