.plant_page_quiz_card {
    width: 140pt;
    height: auto;

margin: 0pt;
}


#temp_check {
    position: relative;
    top: 50pt;
    left: 35pt;
    color: #7FA53E;
    width: 20px;
    display: none;
}