html, body{
    margin-top: 0pt;
    margin-left: 0pt;
    margin-right: 0pt;
    margin-bottom: 0pt;
    height: 100vh;
}

.plant_page_transition-wrap {
    opacity: 0%;
    transition: opacity 0.6s;
}

.plant_page_card_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    margin-top: 60pt;
  
}


.plant_page_card_button {
    display: flex;
    height: 76.65px;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 50pt;
    /* opacity: 0%;
    transition: opacity 0.5s; */
}

.plant_page_card_arrow {
    position: relative;
    top: 20px;
    left: 240px;
    width: 16px;
    height: 12px;
}
.selection1 {
    margin-right: 10pt;
}

.selection2 {
    margin-left: 10pt;
}
#testA {
    transition: border 0.3s;
    border-radius: 10px;
}


#testB {
    transition: border 0.3s;
    border-radius: 10px;
}

.spacer {
    width:8pt;
    height:8pt;
 
}


