html body{
    margin-top: 0pt;
    margin-left: 0pt;
    margin-right: 0pt;
    margin-bottom: 0pt;
}

.plant_page_card_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 60pt;

}

.plant_page_card_button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 50pt;
}

.plant_page_card_arrow {
    position: relative;
    top: 20px;
    left: 240px;
    width: 16px;
    height: 12px;
}