body {
    margin: 0;
}

.tutorial_pg1_subtitle {
    display: flex;
    justify-content: center;
    width: 100vw;
    font-size: 11pt;
    font-family: 'Poppins', sans-serif;
    color: #5E5E5E;
}

.tutorial_imgContainer {

    height: 170pt;
    width: 100vw;
    position: absolute; 
    top: 120pt;

}

.tutorial_pg1_imgContainer{
    display: flex;
    width: 100vw;

    justify-content: center;
    align-items: center;
}

.tutorial_pg1_img1{
    position: relative;
    bottom: 15pt;
}

