.button_div {
    position: relative;
    bottom: -280pt;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0%;
    transition: opacity 0.6s;
}


.tutorial01_transition_wrap {
    opacity: 0%;
    transition: opacity 0.6s;
}