.tutorial_title{
    display: flex;
    justify-content: center;
    width: 100vw;
    position: absolute;
    top: 60pt;
    font-size: 20pt;
    font-weight: 1000;
    font-family: 'Assistant', sans-serif;
    color: #556F44;
}