

.tutorial__logo {
    width: 105px;
    height: 45px;
    top: 10pt;
    margin-left: 10pt;
    position: relative;
}

.tutorial__skip {
    font-family: Assistant;
    font-weight: bold;
    margin-right: 10px;
    
}