html, body {

    margin: 0;  
}
.last {
    background-color: gray;
    margin-bottom: 45pt;
}
.navbar {
    position: fixed;
    bottom: 0pt;
}
.PreResultPage_cont {
    background-color: #92BC4A;
    opacity: 0%;
    transition: opacity 0.6s;
}

.PreResultPage_button {
    position: absolute;
    top: 130pt;
   left: 45pt;

}

a {
    text-decoration: none;
}

.view_results_arrow {
    position: relative;
    top: -40px;
    left: 205px;
    width: 17px;
    height: 13px;
}