html, body {

    margin: 0;  
}

.navbar {
    position: fixed;
    bottom: 0pt;
}
.PreResultPage_cont {
    background-color: #92BC4A;
}

.PreResultPage_button {
    position: absolute;
    top: 135pt;
   left: 75pt;

}

a {
    text-decoration: none;
}