.result_texts__cont {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 550pt;
    font-family: Poppins;
    margin-left: 18pt;
    font-size: 10pt;
 
}

.plant_texts__discription {
    width: 230pt;
    height: auto;
    padding:8pt;
    border: solid white 1pt;
    border-radius: 10pt;
    margin-bottom: 30pt;

}

.interesting_facts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 230pt;
    height: auto;
    padding:8pt;
    border: solid white 1pt;
    border-radius: 10pt;
    
}

.plant_texts__interesting_facts {
    width: 230pt;
    height: auto;
    padding:8pt;
    margin-top: -15pt;

}