.ResultCard_cont_PlantsTrees {
    width: 100vw;
height: 1005px;
background-color: #F1EDD9;
border-radius: 40pt 40pt 0pt 0pt;
position: absolute;
top: 300pt;
}
.ResultPage_upper_cont {
    background-color: white;
}