.findPlant_container{
    position: fixed;
    bottom: 0;
}

.find_plant_button__cont{
    width: 281.25pt;
    height:50pt;
    background-color: white;
    box-shadow: 0px -5px 30px rgb(172, 175, 177);
    display: flex;
    justify-content: center;
    align-items: center;

}

.find_plant_button__button {
    border-radius: 50%;
    background-color: #92BC4A;
    width:50pt;
    height:50pt;
    box-shadow: 0px 5px 15px #92BC4A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
    position: relative;
    top: -13pt;

}

.find_plant_button__find_plant_icon {
    width: 20pt;
    height: 20pt;
    padding-left:1pt;

}

.find_plant_button__button_inside {
    align-content: center;
}