.ResultCard_cont {
    width: 375px;
height: 1300px;
background-color: #92bc4a;
border-radius: 40pt 40pt 0pt 0pt;
position: absolute;
top: 300pt;
}
.ResultPage_upper_cont {
    background-color: white;
}