.startpage_img_container {
    width: 200pt;
    height:auto;
}

.startpage_img {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
}

.startpage_img_p {

    color: green;
}