.startpage_img_container {
    width: 200pt;
    height:auto;
padding-right: 10pt;
}

.startpage_img {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 20pt;
}

.startpage_img_p {

    color: green;
}